.defBox {
    position: fixed;
    right: 0;
    top:0;
    width: 25%;
    height: 100%;
    background: white;
  
    padding: 16px;
    padding-top: 48px;
    font-size: 16px;
    box-shadow: 0 0px 30px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    animation: slide1 1s forwards;
  }
  @keyframes slide1 {
    0% { transform: translateX(150%); }
    100% { transform: translateX(0%); }
}
.hide{
  display: none;
}
.show{
  display: inline;
}
.title {
    color: #4A8257;
    font-size: x-large;
}

.defText{
  border: none;
  font-size: 16px;
  background-color: rgb(110, 34, 34);
  color: white;
  display: inline;
}
.side{
  position: fixed;
  right: 0;
  top:0;
  width: 300px;
  height: 100%;
  /* background: gainsboro; */

  padding: 16px;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cardText{
  margin-top: 0%;

  vertical-align: middle;
}
.cancel{
  background-image: url('/x.png');
  background-size: 16px;
  color:transparent;
  width: 16px;
  height: 16px;


  position: fixed;
  top:16px;
  right: 16px;

  animation: slide2 1s forwards;

}
@keyframes slide2 {
  0% { transform: translateX(400%); }
  100% { transform: translateX(0%); }
}
