.span {
	display: inline-block;
	font-size: 10px;
	color: white;
	margin-right: 2px;
	align-items: center;
	justify-content: center;
	background-color: #d28161;
	border-radius: 10px;
}

.cardBackground {
	min-width: 350px;
	margin: 1rem;

	padding: 10px;
	border-radius: 15px;
	cursor: pointer;
	flex-wrap: wrap;
}
.cardBackground:hover {
	transform: scale(1.05);
}

.kind {
	float: right;
	margin-top: 0.25em;
	color: gray;
	font-weight: bold;
	font-size: small;
}
.dateOnCard {
	float: right;
	margin-top: 0.25em;
	color: gray;
}

.cardPic {
	margin: 5px;
	width: 97%;
	height: 97%;
	object-fit: cover;
}
.center {
	margin-top: 1.25em;
}

.small {
	color: gray;
}

.headline {
	font-family: 'Alegreya Sans SC';
	font-size: 25px;
	font-weight: bold;
}

.bodyfont {
	font-family: 'Source Serif Pro';
}

.body {
	font-size: 18px;
}
