.figure {
  display: flex;
  align-items: center;
  width: 150%;
  max-width: 95vw;
  margin-left: 50%;
  transform: translateX(-50%);

  color: #6d6d6d;
}

.image {
  position: relative;
  width: 100%;
  margin-top: 1%;

  padding-bottom: 40%;
}

.left {
  flex-direction: row-reverse;
  gap: 80px;
}

.right {
  flex-direction: row;
  gap: 80px;
}

.below {
  margin-bottom: 40px;
  flex-direction: column;
}

.above {
  margin-top: 40px;
  flex-direction: column-reverse;
}

.caption {
  margin-top: 3%;
}
