.background {
    height: 100%;
    width: 25em;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #dae9e2;
    overflow-x: hidden;
    padding-top: 15px;
}

.contributorName {
    font-size: 2.5em;
    font-family: 'Alegreya Sans SC';
    font-weight: bolder;

    margin-top: 0.5em;
    margin-bottom: 0.25em;
    
    max-width: 150px;
}

.center {
    padding: 4em;
    padding-top: 2em;
    justify-content: center;
}

.image {
    border-radius: 50%;
    margin: 1em auto;
    height: 15em;
    width: 15em;
}

.logo {
    height: 1.25em;
    width: 1.25em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
    .image {
        height: 8em;
        width: 8em;
    }
    .contributorName {
        font-size: 1.25em;
    }
    .background {   
        width: 15em;
    }
}
