.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    float: right;
    margin-top: 16px;
}

.numLink{
    color: #77423E;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}

.breakLink{
    color: #77423E;
    text-decoration: none;
    font-size: 18px;
}

.prevLink{
    color: #77423E;
    text-decoration: none;
    font-size: 18px;
    margin-right: 32px;
    user-select: none;
}

.nextLink{
    color: #77423E;
    text-decoration: none;
    font-size: 18px;
    margin-left: 32px;
    user-select: none;
}

.numLink:focus {
    text-decoration: dashed;
}

.numLink:focus:before{
    content: "["
}

.numLink:focus::after{
    content: "]"
}

.cardRow {
    display: flex;
    flex-direction: row;
}

.cardRow div div {
    margin: 0;
}
