.span {
  display: inline-block;
  font-size: 10px;
  color: white;
  margin-right: 10px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: inherit;
  background-color: #d28161;
  border-radius: 10px;
}

.cardBackground {
  margin: 3em;
  padding: 10px;
  border-radius: 15px;
}

.contributorName,
.dateOnCard {
  float: right;
  margin-top: 0.25em;
  color: gray;
}

.cardPic {
  margin: 5px;
  width: 97%;
  height: 8em;
}

.center {
  margin-top: 2em;
}

.small {
  color: gray;
}
