.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

.main {
	background-color: #ffffff;
	margin: 0 auto;
	margin-bottom: 100px;
}

.maincard {
	/* min-width: 700px; */
	transform: translateX(32px);
}

.cards {
	min-width: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cards > a {
	color: black;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.cards > a:hover {
	transform: scale(1.1);
}
