.contributorBox {
    /* margin: 0; */
/* margin-left: -10%; */
    max-width: 60rem;
    width: 43em;
    border-radius: 3%;
    height: 200px;
    margin-bottom:-10%;
    margin-left: 15%;
    border: none;
    background-color: transparent;
}
.contributorBody{
    font-size: 20px;
}
.contributorImg {
    margin-left: 30%;
    margin-top: -12%;
    transform: translate(-50%, 35%);
    height: 7em;
    width: 7em;
    border-radius: 50%;
}

.contributorText {
    /* padding-left: 0; */
    margin-left: -18%;
    margin-top: -5%;
    font-size: 10px;
    /* text-align: justify; */
    width: 570px;
}

.contributorHeader {
    color: teal;
}

@media only screen and (max-width: 800px) {
    .contributorImg {
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto; 
        justify-content: center;
    }

    .contributorText {
        margin-top: 2.5rem;
        font-size: medium;
    }
}

@media only screen and (max-width: 600px) {
    .contributorImg {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        height: 8em;
        width: 8em;
        justify-content: center;
    }

    .contributorText {
        margin-top: 0.025rem;
        font-size: medium;
    }
}
