.contributorBox {
    margin: 0;
    max-width: 40rem;
    border-radius: 3%;
}

.contributorImg {
    margin-left: 50%;
    transform: translate(-50%, 35%);
    height: 10em;
    width: 10em;
    border-radius: 50%;
}

.contributorText {
    padding-left: 0;
}

.contributorHeader {
    color: teal;
}

@media only screen and (max-width: 800px) {
    .contributorImg {
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto; 
        justify-content: center;
    }

    .contributorText {
        margin-top: 2.5rem;
        font-size: medium;
    }
}

@media only screen and (max-width: 600px) {
    .contributorImg {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        height: 8em;
        width: 8em;
        justify-content: center;
    }

    .contributorText {
        margin-top: 0.025rem;
        font-size: medium;
    }
}
