.tag {
    display: inline-block;

    color: white;

    border-radius: 10px;

    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Source Serif Pro';
    font-size: 12px;
}
