html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: 'Source Serif Pro'; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-family: 'Source Serif Pro';
  font-size: 1.25rem;
}

h4 {
  font-family: 'Quicksand';
  font-weight: 900;
  color: #4A8257;
}

h5 {
  font-family: 'Quicksand';
}
