.wrapper {
  width: 100%;
}

.MainCard {
  display: flex;

  width: fit-content;
  height: fit-content;

  position: relative;

  margin-left: 50%;
  transform: translate(-50%);
}

.HeadlineBoxAndContributorText {
  display: flex;
  flex-direction: column;
  max-width: 700px;

  margin-right: -200px;

  z-index: 1;
}

.HeadlineBox {
  min-width: 512px;
  max-height: 240px;

  position: relative;

  padding-left: 32px;
  padding-right: 64px;
  padding-top: 32px;
  padding-bottom: 32px;

  border-radius: 5px;
  background-image: linear-gradient(#1a6f8c, #63a59d);
  color: white;

  cursor: pointer;
}
.HeadlineText {
  margin-top: 2px;
  font-family: "Alegreya Sans SC";
  font-weight: bold;
  font-size: 30px;
}

.SubheadlineText {
  font-family: "Quicksand";
  font-size: 20px;
}

.ContributorText {
  color: grey;
  font-size: 1vw;
  transition: all 0.2s ease-in-out;
  position: absolute;
}

.PseudoGrowHover {
  transform: scale(1.05) translate(-5px, 10px);
}

.VerticalCenter {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.ImageContainer {
  flex-shrink: 0;
  width: 700px;
}

@media (max-width: 1024px) {
  .MainCard {
    flex-direction: column;
    align-items: center;
  }
  .HeadlineBoxAndContributorText {
    margin-right: 0;
  }
  .HeadlineBox {
    background-image: none;
    color: black;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
  }
  .ContributorText {
    position: static;
    margin-left: 32px;
    top: 0;
  }
  .VerticalCenter {
    margin-top: 0;
    transform: none;
  }
}
