.MainCard {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.HeadlineBox {
	/* width: fit-content;
	height: inherit; */
	border-radius: 5px;
	min-width: 70%;
	background-image: linear-gradient(#1a6f8c, #63a59d);
	color: white;

	padding-left: 20px;
	padding-top: 20px;
	padding-right: 75px;

	margin-top: 27px;
	margin-right: -100px;

	position: relative;
	z-index: 1;

	cursor: pointer;
}

.HeadlineText {
	margin-top: 2px;

	font-family: 'Alegreya Sans SC';
	font-weight: bold;
	font-size: 30px;
}

.SubheadlineText {
	font-family: 'Quicksand';
	font-size: 20px;
}

.ContributorText {
	color: gray;
	font-size: large;
	margin-top: 10px;
	transition: all 0.2s ease-in-out;
}

.PseudoGrowHover {
	transform: scale(1.1) translateY(10px);
}
/* 
.Image {
	transform: translateX(-100px);
} */

.ImageContainer {
	width: 75%;
	height: 90%;
	object-fit: cover;
	flex-shrink: auto;
	max-width: 750px;
	min-width: 500px;
	flex-wrap: wrap;
}
